.navbar {
  padding: 24px;
  background-color: #f6f6f6;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
}
.heading span {
  font-size: 24px;
}

@media (max-width: 520px) {
  .navbar {
    padding: 16px;
  }
  .heading {
    justify-content: flex-end;
  }
  .heading span {
    font-size: 16px;
  }
}
